body {
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  font-family: 'Manrope', sans-serif;
  font-size: 0.95rem;
  margin: 0;
}

h1 {
  color: hsl(217, 19%, 35%);
  font-size: 1.4rem;
  letter-spacing: .05rem;
  font-weight: 700;
}

p, h4 {
  margin: 0;
}

.article-section {
  background-color: #ffff;
  border-radius: 15px;
  height: 40%;
  width: 60%;
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 20%;
  right: 20%;
}

.article-text {
  display: inline-block;
  padding: 3% 6%;
  height: 100%;
  width: 47%;
}

.img-drawers {
  border-radius: 15px 0 0 15px;
  display: inline-block;
  height: 100%;
  width: 40%;
  vertical-align: top;
}

.credit-section {
  margin-top: 6%;
  position: relative;
}

.credit-text {
  display: inline-block;
  width: 100%;
}

.img-avatar {
  border-radius: 100%;
  float: left;
  height: 45px;
  width: 45px;
  margin-right: 2%;
}

.date-text {
  color: hsl(212, 23%, 69%);
}

/* Share Section  */
.share-section {
  display: inline;
}

.share-button {
  background: hsl(210, 46%, 95%);
  border-radius: 50%;
  display: inline-block;
  line-height: 35px;
  height: 35px;
  width: 35px;
  padding-top: auto;
  padding-bottom: auto;
  position: absolute;
  right: 0;
  text-align: center;
}

.pressed {
  background: hsl(212, 23%, 69%);
}

.share-popup {
  visibility: hidden;
  width: 50%;
  background-color: hsl(217, 19%, 35%);
  color: hsl(212, 23%, 69%);
  padding: 5% 7%;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  right: -110px;
  top: -80px;
  z-index: 1;
}

/* Popup arrow (follows wherever popup goes)*/
.share-popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.share-popup.show {
  visibility: visible;
  animation: fadeIn 1s;
}

.popup-text {
  display: inline-block;
  letter-spacing: 0.25rem;
  margin-right: 3%;
}

.popup-icon {
  display: inline-block;
  padding: 0 3%;
}
