html {
  height: 100%;
}
body {
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  font-family: 'Manrope', sans-serif;
  font-size: 0.95rem;
  min-height: 100%;
  margin: 0;
}

h1 {
  color: hsl(217, 19%, 35%);
  font-size: 1.4rem;
  letter-spacing: .05rem;
  font-weight: 700;
}

p, h4 {
  margin: 0;
}

/* Article Section */

.article-section {
  background-color: #ffff;
  border-radius: 15px;
  height: 40%;
  width: 60%;
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 20%;
  right: 20%;
}

.article-text {
  display: inline-block;
  padding: 3% 6%;
  height: 100%;
  width: 47%;
}

.img-drawers {
  border-radius: 15px 0 0 15px;
  display: inline-block;
  height: 100%;
  width: 40%;
  object-fit: cover;
  object-position: 0;
  vertical-align: top;
}

/* Credit section */
.credit-section {
  margin-top: 6%;
  position: relative;
}

.credit-text {
  display: inline-block;
  width: 100%;
}

.img-avatar {
  border-radius: 100%;
  float: left;
  height: 45px;
  width: 45px;
  margin-right: 2%;
}

.date-text {
  color: hsl(212, 23%, 69%);
}

/* Share Button  */
.share-button {
  background: hsl(210, 46%, 95%);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  position: absolute;
  top: 2%;
  bottom: 2%;
  right: 0;
  text-align: center;
}

.active {
  background: hsl(217, 19%, 35%);
}

.share-svg {
  fill: #6E8098;
}

.share-svg.active{
  fill: #ffff;
}

.share-popup {
  visibility: hidden;
  width: 200px;
  background-color: hsl(217, 19%, 35%);
  color: hsl(212, 23%, 69%);
  padding: 4% 7%;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  right: -110px;
  top: -70px;
  z-index: 1;
}

/* Toggle this class - hide and show the popup */
.share-popup.show {
  visibility: visible;
  animation: fadeIn 1s;
}

.popup-text {
  display: inline-block;
  letter-spacing: 0.25rem;
  margin-right: 7%;
  vertical-align: middle;
}

.popup-icon {
  display: inline-block;
  padding: 0 3%;
  vertical-align: middle;
}

/* Desktop-only styles
  only insert popup arrow on desktop and tablet*/
@media (min-width: 641px){
  /* Popup arrow (follows wherever popup goes)*/
  .share-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px; /* shift arrow to left to accommodate fir width */
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}

/* Tablet */
@media (min-width: 641px) and (max-width: 1023px){
  .article-section {
    background-color: #ffff;
    border-radius: 15px;
    height: 40%;
    width: 80%;
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 10%;
    right: 10%;
  }
  .credit-section {
    margin-top: 12%;
    position: relative;
  }

  .share-popup {
    visibility: hidden;
    width: 200px;
    background-color: hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    padding: 4% 7%;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    right: -103px; /* Shift popup a bit to the left compared to desktop to align with button */
    top: -70px;
    z-index: 1;
  }
}

/* Phone */
@media (max-width: 640px) {

  body {
    border-style: solid;
  }

  h1 {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5%;
  }

  p {
    line-height: 1.7;
  }

  .article-section {
    background-color: #ffff;
    border-radius: 15px;
    height: 70%;
    width: 90%;
    position: absolute;
    top: 15%;
    left: 5%;
  }

  .img-drawers {
    border-radius: 15px 15px 0 0;
    display: block;
    height: 38%;
    width: 100%;
    object-fit: cover;
    object-position: 0 3%;
  }

  .article-text {
    box-sizing: border-box;
    width: 100%;
    margin-top: 7%;
    padding: 0 7%;
  }

  .credit-section {
    margin-top: 15%;
  }

  .share-button {
    margin-top: 2%;
    z-index: 1;
  }

  .active {
    background: hsl(214, 17%, 51%);
  }

  /* Popup realignment */
  .share-popup {
    width: 102%;
    border-radius: 0 0 6px 6px;
    height: 104%;
    position: absolute;
    top: -20%;
    left: -8%;
    z-index: 0; /* set to 0 so this goes behind the share button */
    text-align: left;
  }

  .popup-icon {
    margin-top: 3%;
  }

  .popup-text {
    margin-top: 4%;
    margin-right: 2%;
    margin-left: 3%;
  }
}
