html {
  height: 100%;
}

body {
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  font-family: 'Manrope', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  min-height: 100%;
  margin: 0;
}

h1 {
  color: hsl(217, 19%, 35%);
  font-size: 1.7rem;
  letter-spacing: .05rem;
  line-height: 1.5;
  font-weight: 700;
}

p, h4 {
  margin: 0;
}

/* Article Section */

.article-section {
  background-color: #ffff;
  border-radius: 15px;
  display: flex;
  width: 70%;
  position: absolute;
  top: 30%;
  left: 15%;
}

.article-text {
  display: inline-block;
  padding: 3% 6%;
  width: 47%;
  vertical-align: top;
}

.img-drawers {
  background: url("images/drawers.jpg");
  border-radius: 15px 0 0 15px;
  width: 40%;
  background-position: left;
  background-size: cover;
}

/* Credit section */
.credit-section {
  margin-top: 8%;
  position: relative;
}

.credit-text {
  display: inline-block;
  width: 100%;
}

.img-avatar {
  border-radius: 100%;
  float: left;
  height: 55px;
  width: 55px;
  margin-right: 3%;
}

.date-text {
  color: hsl(212, 23%, 69%);
}

/* Share Button  */
.share-button {
  background: hsl(210, 46%, 95%);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  margin-top: 2%;
  position: absolute;
  right: 0;
  text-align: center;
}

.active {
  background: hsl(217, 19%, 35%);
}

.share-svg {
  fill: #6E8098;
}

.share-svg.active{
  fill: #ffff;
}

.share-popup {
  visibility: hidden;
  width: 200px;
  background-color: hsl(217, 19%, 35%);
  color: hsl(212, 23%, 69%);
  padding: 4% 7%;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  right: -116px;
  top: -75px;
  z-index: 1;
}

/* Toggle this class - hide and show the popup */
.share-popup.show {
  visibility: visible;
  animation: fadeIn 1s;
}

.popup-element{
  display: inline-block;
  vertical-align: middle;
}

.popup-text {
  display: inline-block;
  letter-spacing: 0.25rem;
  margin-right: 7%;
}

.popup-icon {
  padding: 0 3%;
}

/* Desktop-only styles
  only insert popup arrow on desktop and tablet*/
@media (min-width: 641px){
  /* Popup arrow (follows wherever popup goes)*/
  .share-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px; /* shift arrow to left to accommodate fir width */
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}

/* Tablet */
@media (min-width: 641px) and (max-width: 1023px){
  .article-section {
    width: 80%;
    left: 10%;
  }

  .img-drawers {
    background-position: center;
  }

  .credit-section {
    margin-top: 12%;
  }

  .share-popup {
    right: -103px; /* Shift popup a bit to the left compared to desktop to align with button */
    top: -70px;
    z-index: 1;
  }
}

/* Phone */
@media (max-width: 640px) {
  h1 {
    font-size: 1rem;
    margin-bottom: 5%;
  }

  p {
    line-height: 1.7;
  }

  .article-section {
    display: grid;
    grid-gap: 3%;
    grid-auto-rows: 250px auto;
    width: 90%;
    top: 7%;
    left: 5%;
  }

  .img-drawers {
    border-radius: 15px 15px 0 0;
    background-position: top;
    grid-row: 1;
    width: 100%;
  }

  .article-text {
    box-sizing: border-box;
    grid-row: 2;
    width: 100%;
    padding: 0 7%;
  }

  .credit-section {
    margin: 10% 0 10% 0;
  }

  .share-button {
    margin-top: 2%;
    z-index: 1;
  }

  .active {
    background: hsl(214, 17%, 51%);
  }

  /* Popup realignment */
  .share-popup {
    border-radius: 0 0 6px 6px;
    height: 104%;
    width: 102%;
    text-align: left;
    top: -30%;
    left: -8%;
    z-index: 0; /* set to 0 so this goes behind the share button */
  }

  .popup-icon {
    margin-top: 3%;
  }

  .popup-text {
    margin-top: 4%;
    margin-right: 2%;
    margin-left: 3%;
  }
}
